<hr>
<div class="container">
  <h1>View records.</h1>
  <hr>
  <div class="row>">
    <div class="col-md-5">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Users</div>
      <div class="panel-body">
        <p>Distinct users.</p>
      </div>

      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Sex</th>
          <th>No.</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let o of getDistinctValues()">
          <td> <a (click)="changeData(o.name)">{{ o.name }}</a></td>
          <td>{{ o.sex }}</td>
          <td><span class="badge">{{ o.recordNumber }}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-5">
      <!--start-->
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">User: {{ userName }} sleep data</div>
        <div class="panel-body">
        </div>
        <div echarts [options]="chartOption" class="demo-chart" id="demo-chart"></div>
      </div>
      <!--stop-->
    </div>
  </div>
</div>
